/* 
    color: #182153;
    background: #f1f3f5;
  
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  background: #f1f1f1;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  color: #182153;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #182153;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 14rem;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
}

.name {
  font-size: 3.2rem;
  font-weight: 400;
}

.header-child {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.section-3 .header-child {
  border-top: 1px solid #ddd;
}

.heading-child {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}

/* /////////////////////  RESPONSIVE /////////////////////// */

@media (min-width: 576px) {
  .container {
    max-width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 114rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 122rem;
  }
}
