/* ////////////////// Implement HTML /////////////////// */

.figma1 a {
  background-color: #1098ad;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  padding: 8px 20px;
  font-size: 2rem;
  color: #fff;
  border: 2px solid #000;
  margin-right: 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.figma1 a:hover {
  background-color: #e3fafc;
  color: #000;
}
.section {
  height: 100%;
  padding: 1rem 9.6rem 9.6rem 9.6rem;
  background-color: #e3fafc;
}

.list-items {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem);
  max-width: 100rem;
  margin: 4rem auto;
  gap: 2rem;
}
.list-store {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  padding: 2rem 0;
  align-items: flex-end;
}

.value {
  font-size: 4rem;
}

.list-store h3 {
  font-weight: 200;
  font-size: 4rem;
  color: #000;
  border-radius: 1rem;
}

.movements {
  grid-row: 2 / span 3;
  overflow: scroll;
  border-radius: 1rem;
}

.movements-row {
  /* display: flex;
        justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  padding: 2.25rem 4rem;
  border-bottom: 1px solid #eee;
  align-items: center;
  font-size: 1.5rem;
}

.movement-name {
  background-color: rgb(14, 14, 83);
  color: #fff;
  padding: 0.4rem 0.9rem;
  border-radius: 1rem;
  text-align: center;
}

.amount-buyer {
  margin-left: 2rem;
}

.movement-price {
  color: #db52a0;
}

.movement-box {
  padding: 3rem 4rem;
  color: #333;
  border-radius: 1.5rem;
}
.movement-box h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.add-movements {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.fix-movements {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.remove-movements {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form-remove {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form-label-remove {
  grid-row: 2;
}

.form-input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
  margin-top: -1rem;
}

.form-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form-label {
  font-size: 1.4rem;
  text-align: center;
}

.movements {
  background-color: #fff;
}

#gsearch {
  padding: 0.7rem;
  border-radius: 9px;
}

/* ////////////////// Design HTML /////////////////// */
.section-design {
  padding-top: 5rem;
  /* height: 100vh; */
  background-color: inherit;
  color: #000;
}
.section-design .heading-secondary {
  margin-bottom: 3rem;
  font-size: 2.4rem;
}
.section-design .heading-secondary:last-child {
  margin-bottom: 10rem;
}

.scroll {
  overflow: scroll;
  background-color: #fff;
  height: 50rem;
  margin-bottom: 5rem;
}

.scroll img {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;

  /* border-bottom: 1px solid #000; */
}

.scroll img:last-child {
  border-bottom: none;
}

.scroll .heading-high {
  font-size: 2rem;
  margin: 1rem 0 0 3rem;
}

/* ////////////////// Requirement HTML /////////////////// */
.section-requirement {
  margin-top: 5rem;
  color: #000;
}

.section-requirement .heading-secondary {
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.section-requirement .heading-high {
  font-size: 3rem;
  font-weight: 400;
}

.heading-secondary a {
  color: crimson;
  transition: all 0.5s;
}
.heading-secondary a:hover {
  color: orange;
}

.section-requirement p {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

.note {
  color: red;
  margin-bottom: 8rem !important;
}

.requirement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.requirement-paper a,
.figma {
  position: absolute;
  color: crimson !important;
  padding: 1rem;
  font-weight: 600;
  top: -0.5rem;

  right: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  transition: all 0.5s;
  /* background-color: rgb(0 106 67); */
}
.requirement-paper,
.requirement-figma {
  position: relative;
}

.section-labs .container {
  padding: 0 !important;
}

.requirement-paper a:hover,
.figma:hover {
  background-color: crimson;
  color: #000 !important;
}

.requirement-figma .down {
  position: absolute;
  top: -0.5rem;
  right: 20rem;
}
