/* ///////////////////Footer ////////////////////*/

.footer {
  padding: 6rem 0 !important;
  border-top: 1px solid #eee;
  background: #f1f1f1 !important;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
  margin-top: 3rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.contacts .footer-link {
  margin-bottom: 2rem;
  display: inline-block;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.logo-col .brand {
  margin-top: -2rem;
}

.logo-col .brand {
  color: #000;
}

.logo-col .brand span {
  color: #000;
}

/* /////////////////////SCENARIO//////////////////// */

.section-scenario {
  font-size: 2rem;
  background-color: inherit;
  color: #000;
}

.img-about {
  width: 100%;
}

.scenario .heading-secondary {
  font-size: 3.5rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.sce-description {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.sce-description span {
  font-weight: 600;
  font-size: 2.5rem;
}

.scenario-left .sce-description {
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #e3fafc;
  text-align: center;
}

.sce-item {
  display: flex;
}

.scenario {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 5rem;
}

.scenario-right {
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 5rem;
}

.sce-righttop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
}

.sce-rightbottom {
  display: flex;
}

/* /////////////////////SECTION LABS//////////////////// */

.section-labs {
  position: relative;
  height: 100%;
}

.tabs {
  padding: 2.4rem 0 !important;
}

.labs-items {
  position: relative;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  /* border-bottom: 2px solid #767676 !important; */
}

.bang-nav-link {
  border-color: #000;
  background-color: #fff;
  padding: 7px 17px 17px;
  border-style: solid;
  border-width: 0 0 2px 0;
  font-size: 2.4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-item-test {
  width: 100%;
}

.tab-item.active {
  opacity: 1;
}
.bang-nav-link:hover {
  color: #1098ad;
}
.tab-item.active .bang-nav-link {
  border-width: 2px 2px 0;
  color: #1098ad;
}

.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}

.tab a,
.figma a {
  text-transform: uppercase;
  padding: 8px 20px;
  font-size: 2rem;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  margin-right: 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.figma a {
  background-color: #1098ad;
  position: absolute;
  right: 0;
}

.figma a:hover {
  background-color: #e3fafc;
}

.tab a.active-a,
.tab a:hover {
  background-color: #1098ad;
  color: #fff;
}
